* {
    -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            -ms-box-sizing: border-box;
                box-sizing: border-box;     
}

body {
    margin: 0;
    padding: 0;
	
}

head {
    margin-bottom: 20px;
    padding: 0;
}

h1, 
h2,
h3,
h4,
h5,
h6 {
    color: inherit;
    font-family: 'Jomolhari', serif;
    margin: 0 0 0 10px;
}

section {
	background-color: lightgrey;
	padding: 0 0  20px 30px;
}


p{
    color: black;
	margin: 20px 0px 0px 10px;
	line-height: 2;
	font-family: 'Jomolhari', 'Open Sans', sans-serif;
}

a {
	font-size:2vw;
	color: white;
}

table th {
	text-align: left;
}

table td {
	border: 1 px solid #e3e3e3;
	padding: 4px 8 px;
}

table {
  border: 1px solid black;
  padding: 4px 8px;
}

/* ÉLÉMENTS */

h1{
	color:blue;
	font-size: 3vw;
}

h2{
	color:blue;
	font-size: 2vw;
	font-family: 'Liu Jian Mao Cao', cursive;
}

h3{
	color:red;
	font-size: 30px;
	font-family: 'Jomolhari', serif;
}

.bg-blue {
	margin: 0;
    background-color: blue;
	color: white;
	margin: 10px 10px 10px 10px;
}

.bg-red {
    background-color: red;
	height: 180px;
	width: 100%;
	margin-bottom: 0px;
}

.bg-white {
    background-color: white;
	color: black;
}

.white{
	color: white;
}

.center {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.bottom-left{
	float: left;
	margin: 0 0 0 20px;
}

.ajuster-image{
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	height: 30$;
}

.mini-image{
	width: 8%;
	height: 20%;
	position: absolute;
}

.align-left{
	margin: 20px 0 0 18%;
}

.align-right{
	margin: 20px 20px 0 78%;
}


.inline-block-list {
	font-size: 0;
}

.center-el {
	margin: 0 0 0 400px;
}



